name: Snowera Deploy Workflow

on:
  workflow_call:
    secrets:
      SNOWFLAKE_PASSWORD:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-24.04

    env:
      SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}

    steps:
      - name: Checkout Current Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Checkout Snowera Repo
        uses: actions/checkout@v4
        with:
          repository: saianuragp/snowera_cicd
          path: .cicd
          ref: main
          
      - name: Install system deps
        run: sudo apt-get update && sudo apt-get install -y libffi-dev

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r .cicd/prereq/requirements.txt

      - name: Snowera Deploy
        run: |
          python .cicd/scripts/deploy.py
