name: Snowera Deploy Workflow

on:
  workflow_call:
    secrets:
      SNOWFLAKE_ACCOUNT:
        required: true
      SNOWFLAKE_USER:
        required: true
      SNOWFLAKE_PASSWORD:
        required: true
      SNOWFLAKE_ROLE:
        required: true
      SNOWFLAKE_WAREHOUSE:
        required: true
      SNOWFLAKE_DATABASE:
        required: true

jobs:
  validate:
    runs-on: ubuntu-latest

    env:
      SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
      SNOWFLAKE_USER: ${{ secrets.SNOWFLAKE_USER }}
      SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
      SNOWFLAKE_ROLE: ${{ secrets.SNOWFLAKE_ROLE }}
      SNOWFLAKE_WAREHOUSE: ${{ secrets.SNOWFLAKE_WAREHOUSE }}
      SNOWFLAKE_DATABASE: ${{ secrets.SNOWFLAKE_DATABASE }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/checkout@v4
        with:
          repository: saianuragp/snowera_cicd
          path: .cicd
          ref: main

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - run: pip install -r .cicd/requirements.txt

      - run: python .cicd/scripts/deploy.py
