name: Snowera Validate Workflow

on:
  workflow_call:
    secrets:
      SNOWFLAKE_ACCOUNT:
        required: true
      SNOWFLAKE_USER:
        required: true
      SNOWFLAKE_PASSWORD:
        required: true
      SNOWFLAKE_ROLE:
        required: true
      SNOWFLAKE_WAREHOUSE:
        required: true
      SNOWFLAKE_DATABASE:
        required: true

jobs:
  validate:
    runs-on: ubuntu-24.04

    env:
      SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
      SNOWFLAKE_USER: ${{ secrets.SNOWFLAKE_USER }}
      SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
      SNOWFLAKE_ROLE: ${{ secrets.SNOWFLAKE_ROLE }}
      SNOWFLAKE_WAREHOUSE: ${{ secrets.SNOWFLAKE_WAREHOUSE }}
      SNOWFLAKE_DATABASE: ${{ secrets.SNOWFLAKE_DATABASE }}

    steps:
      - name: Checkout Current Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Checkout Snowera Repo
        uses: actions/checkout@v4
        with:
          repository: saianuragp/snowera_cicd
          path: .cicd
          ref: main

      - name: Install system deps
        run: sudo apt-get update && sudo apt-get install -y libffi-dev

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r .cicd/prereq/requirements.txt

      - name: Snowera Validate
        run: |
          python .cicd/scripts/validate.py

      - name: Upload changed SQL artifact
        uses: actions/upload-artifact@v3
        with:
          name: changed-sql-files
          path: .cicd/changed_sql_files.json
